body {
    margin: 0;
}

.container {
    background-image: url("https://www.esan.edu.pe/apuntes-empresariales/2016/08/24/contactcenter_principal.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container .container-menu .logo{
    margin-top: 30px;
}

.container-menu {
    background-color: none;
    display: flex;
    flex-direction: row;
}

/* Encabezado de página y barar de navegación */

.menu {
    background-color: none;
    display: flex;
    align-items: center;
    padding-left: 22%;
}

header{
    width: 100%;
    height: 100vh;
    min-width: 480px;
}

header nav{
    width: 100%;
    height: 10vh;
    background-color: #a52a2a86;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-width: 480px;*/
    
}

header nav ul{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
    
}

header nav ul li{
    list-style: none;
    padding: 5px 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

header nav ul li:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.container-textinfo{
    /*background-color: yellow;*/
    /*margin-left: 100px;
    margin-top: 40px;
    width: 100%;*/
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.container-textinfo h1 {
    font-family: "Barlow";
    font-size: 2.5rem;
    color: white;
    padding: 0;
    margin: 0;
    
}

.container-textinfo h2 {
    font-family: "Barlow";
    font-size: 3.2rem;
    color: #4b0808;
    padding: 0;
    margin: 0;
    
}

.container-textinfo button{
    width: 30%;
    padding: 5px 10px;
    background-color: #4b0808;
    color: azure;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    transition: ease-in-out 1s;
}

.container-textinfo button:hover {
    color: azure;
    background-color: #292828;
    cursor: pointer;
    transform: translateX(-50px);
}

.container-medio{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: -45px;
}

.container-medio .containers{
    margin: 20px;
    color: #3b0404 ;
    font-family: 'Squada One', cursive;
    font-size: 1.6rem;
}
/*-----------------------------------------------------------------------------------*/

.container-ppal {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.column {
    height: 100%;
    display: flex;
    flex-direction:row;
    box-sizing: border-box;
}

.column .container-img {
    width: 40%;
    height: 100vh;
}

.column .container-img figure {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.column .container-img figure img {
    height: 90vh;
    border-radius: 15px;
}

.column .container-form {
    width: 125%;
    height: 100vh;
    padding-left: 30px;
    box-sizing: border-box;
}

.column .container-form form {
    width: 100vh;
}

.column .container-form form .div-class{
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
}

.column .container-form form .div-class h2 {
    font-family: "Barlow";
    font-size: 1.5rem;
    color: #530c0c;
}

.column .container-form form .div-class ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.column .container-form form .div-class ul li{
    padding: 6px 22px 5px 22px;
}

.column .container-form form .div-class ul li label {
    font-family: cursive;
    font-size: 1.2rem;
}

.column .container-form form .div-class ul li input {
    width: 15px;
    height: 15px;
    border: solid 1px orange;
}

.column .container-form form .div-class ul li input:checked{
    border: solid 1px orangered;
}

.column .container-form form .div-class:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 125%;
}

.column .container-form form .div-class:nth-child(3) .input-text{
    padding: 10px 1px;
    margin: 5px;
    border: solid 1px #d5d5d5;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #D5d5d5;
    outline: none;
}

.column .container-form form .div-class:nth-child(3) .input-text:focus {
    border: solid 2px burlywood;
    box-sizing: border-box;
}

.column .container-form form .div-class:nth-child(3) .input-text:active{
    border: none;
}

.column .container-form .div-class:nth-child(4) {
    display: flex;
    flex-direction: column;
    width: 125%;
    
}

.column .container-form .div-class:nth-child(4) label {
    font-family: cursive;
    font-size: 1.2rem;
    margin-bottom: 7px;
    margin-top: 0;
}

.column .container-form form .div-class:nth-child(4) textarea{
    border-radius: 7px;
    outline: none;
    padding: 7px 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #8a8888;
}

.column .container-form form .div-class:nth-child(5) button{
    border-radius: 17px;
    padding: 7px 7px;
    background-color: #3b0404;
    color: white;
    font-size: 1.2rem;
    width: 100%;
}

.column .container-form form .div-class:nth-child(5) button:hover{
    background-color: #793434;
    cursor: pointer;
    align-content: center;
}

/*------------------------ footer ---------------------------------------------*/

footer{
    background-image: url('../img/slide_reposteria.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.container-footer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-25{
    margin: 15px;
    color: #ffffff;
    font-family: 'Squada One';
    font-size: 1.4rem;
}


.column-25 ul li{
    list-style: none;
    margin-top: 1px;
    font-size: 1.2rem;
}

.column-25 h5{
    text-align: center;
    font-size: 1.5rem;
}

.column-25 p{
    font-size: 1.2rem;
}

.form-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-footer .content-form:nth-child(1) img{
    width: 50vh;
    height: 30vh;
}

.form-footer .content-form:nth-child(2){
    text-align: center;
    margin: 15px;
    color: #3b0404;
    font-family: 'Squada One', cursive;
    font-size: 1.4rem;
    width: 30%;
}

.form-footer .content-form:nth-child(3) form{
    display: flex;
    flex-direction: column;
}

.form-footer .content-form:nth-child(3) button{
    width: 100%;
    padding: 5px 10px;
    background-color: #3b0404;
    color: azure;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}




